<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}iCeNSA@ND | Data Analytics Portal{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('assets/images/icensa_ico.png') }}" type="image/png"/>

    {# Stylesheets block#}
    {% block stylesheets %}
        {% stylesheets
        'assets/css/bootstrap.min.css'
        'assets/css/jasny-bootstrap.min.css'
        'assets/font-awesome/css/font-awesome.min.css'
        'assets/css/animate.css'
        'assets/css/plugins/toastr/toastr.min.css'
        'assets/css/plugins/picedit/picedit.min.css'
        'assets/css/style.css' filter='cssrewrite' output='compiled/css/app-base.css' %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css"/>
        {% endstylesheets %}
    {% endblock %}

    {% block welcome %}{% endblock %}
</head>

<body>

<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <span>
                                <a data-toggle="modal" data-target="#upProfPic" class="profile-picture"
                                   style="background: url({{ app.user.profilePicturePath }}) no-repeat center center">
                                    <!-- <img alt="image" class="img-circle" src="{{ app.user.profilePicturePath }}" id="avatar" width="60" height="60"/> -->
                                </a>

                            </span>
                            <div class="modal inmodal" id="upProfPic" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content animated fadeIn">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span
                                                        aria-hidden="true">&times;</span><span
                                                        class="sr-only">Close</span></button>
                                            <i class="fa fa-upload modal-icon"></i>
                                            <h4 class="modal-title">Profile picture</h4>
                                            <small>Use the options below to upload and edit your profile picture.
                                            </small>
                                        </div>
                                        <form action="{{ path('ode_upload_profile_image') }}" method="post"
                                              id="avatarUploadForm" name="avatarUploadForm"
                                              enctype="multipart/form-data">
                                            <div class="modal-body" style="text-align: center">
                                                <input type="file" name="profilePictureFile" id="profilePictureFile">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-white" data-dismiss="modal">Close
                                                </button>
                                                <button type="submit" id="uploadButton" name="uploadButton"
                                                        class="btn btn-primary">Upload Picture
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs"><strong
                                                class="font-bold">{{ app.user.firstname }} {{ app.user.lastname }} </strong><b class="caret"></b></span>
                                    <ul class="dropdown-menu animated{# fadeInRight#} fadeIn m-t-xs">
                                        <li><a href="/profile">View Profile</a></li>
                                        <li><a href="/profile/edit">Edit Profile</a></li>
                                        <li class="divider"></li>
                                        <li><a href="/logout">Logout</a></li>
                                    </ul>
                                </span>
                            </a>

                        {% else %}
                            <span><img alt="image" class="img-circle" src="{{ asset('assets/images/anonymous.jpg') }}"
                                       width="60" height="60"/> </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs"> <strong class="font-bold">Anonymous User</strong></span>
                                    <span class="text-muted text-xs block">Options<b class="caret"></b></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated{# fadeInRight#} fadeIn m-t-xs">
                                <li><a href="/login">Log in</a></li>
                                <li><a href="/register">Register</a></li>
                            </ul>
                        {% endif %}
                    </div>
                    <div class="logo-element">
                        iC+
                    </div>
                </li>
                <li>
                    <a href="/"><i class="fa fa-home"></i><span class="nav-label">Homepage</span></a>
                </li>
                <li>
                    <a href="/"><i class="fa fa-database"></i><span class="nav-label">Datasets</span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="/datasets">View Datasets</a></li>
                        <li><a href="/datasets/upload">Upload Datasets</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/analysis"><i class="fa fa-flask"></i><span class="nav-label">Analysis</span></a>
                </li>
                <li>
                    <a href="/ranking"><i class="fa fa-trophy"></i><span class="nav-label">Leaderboard</span></a>
                </li>
            </ul>

        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top{# white-bg#}" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i></a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li>
                            <a href="/logout">
                                <i class="fa fa-sign-out" style="color:#FF6666"></i> Logout
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="/login">
                                <i class="fa fa-sign-in" style="color:#1ab394"></i> Login
                            </a>
                        </li>
                        <li>
                            <a href="/register">
                                <i class="fa fa-user-plus" style="color:#97A0A8"></i> Register
                            </a>
                        </li>
                    {% endif %}
                </ul>

            </nav>
        </div>
        <div id="content">
            {% block body %}{% endblock %}
        </div>

        <div class="footer">
            <div class="pull-right">
                Developed by <strong><a href="http://www3.nd.edu/~eaguiar/" target="_blank">Everaldo Aguiar</a></strong>,
                <strong><a href="http://www3.nd.edu/~rjohns15/" target="_blank">Reid Johnson</a></strong>
                and <strong><a href="https://www.linkedin.com/in/renangbarreto/" target="_blank">Renan Gomes</a></strong>.
            </div>
            <div>
                <!--<strong>Copyright</strong> -->&copy; 2015 University of Notre Dame
            </div>
        </div>

    </div>
</div>

{# Scripts block for pages that need extra js #}
{% block scripts %}
    {# All scripts must be before the tag </body> #}
    {% javascripts
    'assets/js/jquery-2.1.3.min.js'
    'assets/js/plugins/toastr/toastr.min.js'
    'assets/js/plugins/picedit/picedit.js'
    'assets/js/bootstrap.min.js'
    'assets/js/fileinput.js'
    'assets/js/plugins/metisMenu/jquery.metisMenu.js'
    'assets/js/plugins/slimscroll/jquery.slimscroll.min.js'
    'assets/js/inspinia.js'
    'assets/js/plugins/pace/pace.min.js' output='compiled/js/app-base.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}


{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                $('#profilePictureFile').picEdit({
                    maxWidth: 530,
                    maxHeight: 'auto',
                    aspectRatio: true,
                    formSubmitted: function () {
                        window.setTimeout(function () {
                            $('#upProfPic').modal('hide');
                        }, 1200);
                        var d = new Date();
                        $('a.profile-picture').css('background', 'url({{ app.user.profilePicturePath }}' + "?" + d.getTime() + ')');
                    }
                });
            });
        });
    </script>
{% endif %}
</body>
</html>
