{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'assets/css/plugins/iCheck/custom.css'
    'assets/css/plugins/steps/jquery.steps.css'
    'assets/css/plugins/noUiSlider/jquery.nouislider.css'
    'assets/css/plugins/qTip/jquery.qtip.css' filter='cssrewrite' output='compiled/css/create-analysis.css' %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <br><br>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Analysis</h5>
                    </div>
                    <div class="ibox-content">
                        <h2> Configure Your Analysis Parameters </h2>

                        <form id="form" action="#" class="wizard-big">
                            <h1>Dataset</h1>
                            <section>
                                <h2>Select the dataset:</h2>

                                <div class="row">
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <select id="dataset" name="dataset" class="form-control required">
                                                {% for dataset in datasets %}
                                                    <option value={{ dataset.id|e }}>{{ dataset.name|e }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-lg-offset-1">
                                        Add dataset description here.
                                    </div>
                                </div>
                            </section>
                            <h1>Pre-processing</h1>
                            <section>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <label>Undersampling: <i class="fa fa-question-circle parameter_value_off"
                                                                 id="q1"></i></label>

                                        <div class="radio i-checks">
                                            <label><input class="required" name="undersampling" type="radio" value="1">
                                                True </label>
                                            <br>
                                            <label><input checked class="required" name="undersampling" type="radio"
                                                          value="0"> False </label>
                                        </div>

                                        <div class="row text-center">
                                            <label>Undersampling Rate = <span class="example-val parameter_value_off"
                                                                              id="undersampling_rate-value"></span>
                                                <span class="parameter_value_off"
                                                      id="undersampling_rate-value2"> %</span>
                                            </label>

                                            <div class="col-lg-10 col-lg-offset-1">
                                                <div id="undersampling_rate-slider"></div>
                                                <input id="undersampling_rate" name="undersampling_rate" type="hidden"
                                                       value="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Oversampling (SMOTE): <i
                                                    class="fa fa-question-circle parameter_value_off"
                                                    id="q2"></i></label>

                                        <div class="radio i-checks">
                                            <label><input class="required" name="oversampling" type="radio" value="1">
                                                True </label>
                                            <br>
                                            <label><input checked class="required" name="oversampling" type="radio"
                                                          value="0"> False </label>
                                        </div>

                                        <div class="row text-center">
                                            <label>SMOTE Percentage = <span class="example-val parameter_value_off"
                                                                            id="oversampling_percentage-value"></span>
                                                <span class="parameter_value_off"
                                                      id="oversampling_percentage-value2"> %</span>
                                            </label>

                                            <div class="col-lg-10 col-lg-offset-1">
                                                <div id="oversampling_percentage-slider"></div>
                                                <input id="oversampling_percentage" name="oversampling_percentage"
                                                       type="hidden" value="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Missing data handling: <i
                                                    class="fa fa-question-circle parameter_value_off"
                                                    id="q3"></i></label>

                                        <div class="radio i-checks">
                                            <label><input class="required" name="missing_data" type="radio"
                                                          value="average"> Impute with average </label>
                                            <br>
                                            <label><input class="required" name="missing_data" type="radio"
                                                          value="interpolation"> Perform linear interpolation </label>
                                            <br>
                                            <label><input checked class="required" name="missing_data" type="radio"
                                                          value="default"> Impute with <i>-1</i> </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Principal Component Analysis: <i
                                                    class="fa fa-question-circle parameter_value_off"
                                                    id="q4"></i></label>

                                        <div class="radio i-checks">
                                            <label><input class="required" name="pca" type="radio" value="1"> True
                                            </label>
                                            <br>
                                            <label><input checked class="required" name="pca" type="radio" value="0">
                                                False </label>
                                        </div>

                                        <div class="row text-center">
                                            <label>Number of Components = <span class="example-val parameter_value_off"
                                                                                id="n_components-value"></span></label>

                                            <div class="col-lg-10 col-lg-offset-1">
                                                <div id="pca-slider"></div>
                                                <input id="n_components" name="n_components" type="hidden" value="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <label>Standardization: <i class="fa fa-question-circle parameter_value_off"
                                                                   id="q5"></i></label>

                                        <div class="radio i-checks">
                                            <label><input class="required" name="standardization" type="radio"
                                                          value="1"> True </label>
                                            <br>
                                            <label><input checked class="required" name="standardization" type="radio"
                                                          value="0"> False </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Normalization: <i class="fa fa-question-circle parameter_value_off"
                                                                 id="q6"></i></label>

                                        <div class="radio i-checks">
                                            <label><input class="required" name="normalization" type="radio" value="1">
                                                True </label>
                                            <br>
                                            <label><input checked class="required" name="normalization" type="radio"
                                                          value="0"> False </label>
                                        </div>

                                        <span>norm:</span>
                                        <select disabled class="form-control required" id="norm" name="norm">
                                            <option value="l1"> L1</option>
                                            <option value="l2"> L2</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Binarization: <i class="fa fa-question-circle parameter_value_off"
                                                                id="q7"></i></label>

                                        <div class="radio i-checks">
                                            <label><input class="required" name="binarization" type="radio" value="1">
                                                True </label>
                                            <br>
                                            <label><input checked class="required" name="binarization" type="radio"
                                                          value="0"> False </label>
                                        </div>

                                        <div class="row text-center">
                                            <label>Threshold = <span class="example-val parameter_value_off"
                                                                     id="binarization_threshold-value"></span></label>

                                            <div class="col-lg-10 col-lg-offset-1">
                                                <div id="binarization-slider"></div>
                                                <input id="binarization_threshold" name="binarization_threshold"
                                                       type="hidden" value="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Outlier Detection: <i class="fa fa-question-circle parameter_value_off"
                                                                     id="q8"></i></label>

                                        <div class="radio i-checks">
                                            <label><input class="required" name="outlier_detection" type="radio"
                                                          value="1"> True </label>
                                            <br>
                                            <label><input checked class="required" name="outlier_detection" type="radio"
                                                          value="0"> False </label>
                                        </div>
                                    </div>
                                </div>

                            </section>
                            <h1>Model</h1>
                            <section>
                                <h2>Select the Model:</h2>

                                <div class="row">
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <select id="model" name="model" class="form-control required">
                                                {% for model in models %}
                                                    <option value={{ model.id|e }}>{{ model.name|e }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="ibox float-e-margins">
                                            <div class="description-box ibox-content p-m" id="model-description">
                                                <div id="model-descriptions">
                                                    {% for model in models %}
                                                        <div id="model-description-{{ model.id|e }}"
                                                             style="display: none"> {{ model.description|raw }}</div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <h1>Parameters</h1>
                            <section data-mode="async">
                            </section>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="wrapper wrapper-content animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content text-center p-md">
                            <h2><span>Sorry! You must be logged in to access this area.</span></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <a href="/login" class="btn btn-default btn-sm"><span class="fa fa-sign-in"></span>&nbsp;&nbsp;Login</a>
                <a href="/register" class="btn btn-default btn-sm"><span class="fa fa-user-plus"></span>&nbsp;&nbsp;Register</a>
            </div>
        </div>
    {% endif %}

{% endblock %}
{% block scripts %}
    {{ parent() }}
    {% javascripts
    'assets/js/plugins/steps/jquery.steps.js'
    'assets/js/plugins/validate/jquery.validate.min.js'
    'assets/js/plugins/noUiSlider/jquery.nouislider.all.js'
    'assets/js/plugins/qTip/jquery.qtip.js'
    'assets/js/plugins/iCheck/icheck.js' output='compiled/js/create-analysis.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
    // Reference: https://github.com/rstaib/jquery-steps/wiki (lots of options to customize this form)
    $(document).ready(function () {

        //Small Event that will resize the step content when the window width change
        window.addEventListener('resize', function (event) {
            $("#form .body.current").each(function () {
                var bodyHeight = $(this).height();
                var padding = $(this).innerHeight() - bodyHeight;
                bodyHeight += padding;
                $(this).parent().css("height", bodyHeight + "px");
            });
        });


        $("#wizard").steps();
        $("#form").steps({
            bodyTag: "section",
            showFinishButtonAlways: false,
            onStepChanging: function (event, currentIndex, newIndex) {
                // Always allow going backward even if the current step contains invalid fields!
                if (currentIndex > newIndex) {
                    return true;
                }

                //Fills in information for second step based on dataset choice
                if (currentIndex === 2) {
                    $("#form").steps("remove", 3);
                    $("#form").steps("insert", 3, {
                        title: "Parameters",
                        contentMode: "async",
                        contentUrl: "/analysis/getmodelform?modelid=" + $("#model").val() + "&datasetid=" + $("#dataset").val()
                    });
                }

                var form = $(this);

                // Clean up if user went backward before
                if (currentIndex < newIndex) {
                    // To remove error styles
                    $(".body:eq(" + newIndex + ") label.error", form).remove();
                    $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                }

                // Disable validation on fields that are disabled or hidden.
                form.validate().settings.ignore = ":disabled,:hidden";

                // Start validation; Prevent going forward if false
                return form.valid();
            },
            onFinishing: function (event, currentIndex) {
                var form = $(this);

                // Disable validation on fields that are disabled.
                // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                form.validate().settings.ignore = ":disabled";

                // Start validation; Prevent form submission if false
                return form.valid();
            },
            onFinished: function (event, currentIndex) {
                var form = $(this);

                submitForm(form.serialize());
            }
        }).validate({
            errorPlacement: function (error, element) {
                element.before(error);
            }
        });

        $("#model").change(function () {
            $("#model-description-" + this.value).show().siblings().hide();
        });

        $("#model").change();

        ///////////////////////////////////
        // Pre-processing Tab
        ///////////////////////////////////

        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green'
        });

        $('#undersampling_rate-slider').noUiSlider({
            start: [50],
            step: 1,
            connect: "lower",
            range: {
                'min': [1],
                'max': [100]
            }
        });
        $('#undersampling_rate-slider').Link('lower').to($('#undersampling_rate-value'));
        $('#undersampling_rate-slider').Link('lower').to($('#undersampling_rate'));
        $('#undersampling_rate-slider').attr('disabled', 'disabled');


        $('#oversampling_percentage-slider').noUiSlider({
            start: [100],
            step: 1,
            connect: "lower",
            range: {
                'min': [1],
                'max': [1000]
            }
        });
        $('#oversampling_percentage-slider').Link('lower').to($('#oversampling_percentage-value'));
        $('#oversampling_percentage-slider').Link('lower').to($('#oversampling_percentage'));
        $('#oversampling_percentage-slider').attr('disabled', 'disabled');

        $('#pca-slider').noUiSlider({
            start: [5],
            step: 1,
            connect: "lower",
            range: {
                'min': [1],
                'max': [10] // TODO: Replace this by NUM_FEATUERS
            }
        });
        $('#pca-slider').Link('lower').to($('#n_components-value'));
        $('#pca-slider').Link('lower').to($('#n_components'));
        $('#pca-slider').attr('disabled', 'disabled');

        $('#binarization-slider').noUiSlider({
            start: [0],
            step: 0.1,
            connect: "lower",
            range: {
                'min': [-1], // TODO: Replace this by -MAX(featurevalue)
                'max': [1] // TODO: Replace this by MAX(featurevalue)
            }
        });
        $('#binarization-slider').Link('lower').to($('#binarization_threshold-value'));
        $('#binarization-slider').Link('lower').to($('#binarization_threshold'));
        $('#binarization-slider').attr('disabled', 'disabled');


        $("#q1").qtip({
            content: {
                text: 'Adjust class distribution by removing instances from the majority class. Select the desired amount of majority class instances to be used for training .',
                title: '<i>Undersampling<\/i>'
            },
            style: {classes: 'qtip-rounded qtip-shadow qtip-cream'}
        });
        $("#q2").qtip({
            content: {
                text: 'Use SMOTE to create synthetic instances of the minority class. Use the slider to select the percentage of new instances to create.',
                title: '<i>Oversampling <\/i>'
            },
            style: {classes: 'qtip-rounded qtip-shadow qtip-cream'}
        });
        $("#q3").qtip({
            content: {
                text: 'Select the strategy to be used for missing value imputation.',
                title: '<i>Handing of Missing Data <\/i>'
            },
            style: {classes: 'qtip-rounded qtip-shadow qtip-cream'}
        });
        $("#q4").qtip({
            content: {
                text: 'Linear dimensionality reduction using Singular Value Decomposition of the data and keeping only the most significant singular vectors to project the data to a lower dimensional space.',
                title: '<i>Principal Component Analysis <\/i>'
            },
            style: {classes: 'qtip-rounded qtip-shadow qtip-cream'}
        });
        $("#q5").qtip({
            content: {
                text: 'Standardize features by removing the mean and scaling to unit variance.',
                title: '<i>Standardization <\/i>'
            },
            style: {classes: 'qtip-rounded qtip-shadow qtip-cream'}
        });
        $("#q6").qtip({
            content: {
                text: 'Scale input vectors individually to unit norm (vector length).',
                title: '<i>Normalization <\/i>'
            },
            style: {classes: 'qtip-rounded qtip-shadow qtip-cream'}
        });
        $("#q7").qtip({
            content: {
                text: 'Binarize data (set feature values to 0 or 1) according to a threshold. Values greater than the threshold map to 1, while values less than or equal to the threshold map to 0. With the default threshold of 0, only positive values map to 1.',
                title: '<i>Binarization <\/i>'
            },
            style: {classes: 'qtip-rounded qtip-shadow qtip-cream'}
        });
        $("#q8").qtip({
            content: {
                text: 'Remove rows that contain column values that are further than 3 standard deviations from mean.',
                title: '<i>Outlier Detection <\/i>'
            },
            style: {classes: 'qtip-rounded qtip-shadow qtip-cream'}
        });

        $('.i-checks').on('ifChecked', function () {
            var parameter = $(this).find(":checked").attr('name');
            var value = $(this).find(":checked").val();
            if (parameter == 'undersampling') {
                if (value == 0) {
                    $('#undersampling_rate-slider').attr('disabled', 'disabled');
                    $('#undersampling_rate-value').attr('class', "parameter_value_off");
                    $('#undersampling_rate-value2').attr('class', "parameter_value_off");
                }
                else {
                    $('#undersampling_rate-slider').removeAttr('disabled');
                    $('#undersampling_rate-value').attr('class', "parameter_value");
                    $('#undersampling_rate-value2').attr('class', "parameter_value");
                }
            }
            else if (parameter == 'oversampling') {
                if (value == 0) {
                    $('#oversampling_percentage-slider').attr('disabled', 'disabled');
                    $('#oversampling_percentage-value').attr('class', "parameter_value_off");
                    $('#oversampling_percentage-value2').attr('class', "parameter_value_off");
                }
                else {
                    $('#oversampling_percentage-slider').removeAttr('disabled');
                    $('#oversampling_percentage-value').attr('class', "parameter_value");
                    $('#oversampling_percentage-value2').attr('class', "parameter_value");
                }
            }
            else if (parameter == 'pca') {
                if (value == 0) {
                    $('#pca-slider').attr('disabled', 'disabled');
                    $('#n_components-value').attr('class', "parameter_value_off");
                }
                else {
                    $('#pca-slider').removeAttr('disabled');
                    $('#n_components-value').attr('class', "parameter_value");
                }
            }
            else if (parameter == 'normalization') {
                if (value == 0) {
                    $('#norm').prop('disabled', 'disabled');
                }
                else {
                    $('#norm').prop('disabled', false);
                }
            }
            else if (parameter == 'binarization') {
                if (value == 0) {
                    $('#binarization-slider').attr('disabled', 'disabled');
                    $('#binarization_threshold-value').attr('class', "parameter_value_off");
                }
                else {
                    $('#binarization-slider').removeAttr('disabled');
                    $('#binarization_threshold-value').attr('class', "parameter_value");
                }
            }
            else if (parameter == 'outlier_detection') {
                if (value == 0) {
                    $('#outlier_detection_method').prop('disabled', 'disabled');
                }
                else {
                    $('#outlier_detection_method').prop('disabled', false);
                }
            }
        });

    });

    function submitForm(params) {
        window.location.href = '/analysis/run?' + params;
    }

    </script>

{% endblock %}