{% extends 'base.html.twig'%}

{% block stylesheets %}
    {% stylesheets
    'assets/css/plugins/dataTables/dataTables.bootstrap.css'
    'assets/css/plugins/dataTables/dataTables.tableTools.css'
    'assets/css/plugins/qTip/jquery.qtip.css'
    %}
    <link type="text/css" rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Analysis Report</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a>Analysis</a>
                </li>
                <li class="active">
                    <strong>Report</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content">
                    <div class="ibox-content m-b-sm border-bottom" style="padding: 15px 20px 20px 20px;">
                        <div class="p-xs">
                            <div class="pull-left m-r-md">
                                <i class="fa fa-cogs mid-icon"></i>
                            </div>
                            <h2>Model Description</h2>
                            <span>Add some information here on runtime, model parameters, user, etc.</span>
                        </div>
                    </div>
                </div>


                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">AUROC = {{ auroc|number_format(3, '.', ',') }}</span>
                            <h5>Receiver Operating Characteristic Curve</h5>
                        </div>
                        <div class="ibox-content">
                            <div>
                                <div id="roc_curve" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-warning pull-right">AUPR = {{ aupr|number_format(3, '.', ',') }}</span>
                            <h5>Precision-Recall Curve</h5>
                        </div>
                        <div class="ibox-content">
                            <div>
                                <div id="pr_curve" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Confusion Matrix</h5>
                        </div>
                        <div class="ibox-content">

                            <table class="table table-bordered text-center">
                                <tr>
                                    <td style="border-left-color: #FFFFFF;border-top-color: #FFFFFF;" colspan="2" rowspan="2"></td>
                                    <td colspan="2" class="table-cell-dark"><b>Predicted</b></td>
                                </tr>
                                <tr>
                                    <td class="table-cell-bright"><b>Class A</b></td>
                                    <td class="table-cell-bright"><b>Class B</b></td>
                                </tr>
                                <tr>
                                    <td class="table-cell-dark" rowspan="2" style="vertical-align: middle"><b>Actual</b></td>
                                    <td class="table-cell-bright"><b>Class A</b></td>
                                    <td>{{ confusion_matrix[0] }}</td>
                                    <td>{{ confusion_matrix[1] }}</td>
                                </tr>
                                <tr>
                                    <td class="table-cell-bright"><b>Class B</b></td>
                                    <td>{{ confusion_matrix[2] }}</td>
                                    <td>{{ confusion_matrix[3] }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Classification Report</h5>
                        </div>
                        <div class="ibox-content">

                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th class="text-center">Precision</th>
                                    <th class="text-center">Recall</th>
                                    <th class="text-center">F1-Score</th>
                                    <th class="text-center">Support</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th class="text-right">Class A</th>
                                    <td class="text-center">{{ classification_report[1] }}</td>
                                    <td class="text-center">{{ classification_report[2] }}</td>
                                    <td class="text-center">{{ classification_report[3] }}</td>
                                    <td class="text-center">{{ classification_report[4] }}</td>
                                </tr>
                                <tr>
                                    <th class="text-right">Class B</th>
                                    <td class="text-center">{{ classification_report[6] }}</td>
                                    <td class="text-center">{{ classification_report[7] }}</td>
                                    <td class="text-center">{{ classification_report[8] }}</td>
                                    <td class="text-center">{{ classification_report[9] }}</td>
                                </tr>
                                <tr>
                                    <th class="text-right">Average / Total</th>
                                    <td class="text-center">{{ classification_report[10] }}</td>
                                    <td class="text-center">{{ classification_report[11] }}</td>
                                    <td class="text-center">{{ classification_report[12] }}</td>
                                    <td class="text-center">{{ classification_report[13] }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Prediction Details <i class="fa fa-question-circle" id="q1" style="color:#676a6c"></i> </h5>
                        </div>
                        <div class="ibox-content">
                            <table class="table table-striped table-bordered table-hover" id="preditions-table">
                                <thead>
                                <tr>
                                    <th>Instance Number</th>
                                    <th>Actual Class</th>
                                    <th>Predicted Class</th>
                                    <th>Probability Score</th>
                                    <th>Error</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for index in indexes %}
                                    <tr>
                                        <td>{{ index }}</td>
                                        <td>{{ y_original_values[index] }}</td>
                                        <td>{{ y_pred[index] }}</td>
                                        <td>{{ y_prob[index] }}</td>
                                        <td>{{ errors[index]|raw }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Instance Number</th>
                                    <th>Actual Class</th>
                                    <th>Predicted Class</th>
                                    <th>Probability Score</th>
                                    <th>Error</th>
                                </tr>
                                </tfoot>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    {% javascripts
    'assets/js/plugins/highcharts/highcharts.js'
    'assets/js/plugins/highcharts/exporting.js'
    'assets/js/plugins/dataTables/jquery.dataTables.js'
    'assets/js/plugins/dataTables/dataTables.bootstrap.js'
    'assets/js/plugins/dataTables/dataTables.tableTools.js'
    'assets/js/plugins/qTip/jquery.qtip.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(function () {
            $('#roc_curve').highcharts({
                title: {
                    text: ''
                },
                xAxis: {
                    title: {
                        text: 'False positive rate'
                    },
                    min: 0,
                    max: 1,
                    tickInterval: 0.1
                },
                yAxis: {
                    title: {
                        text: 'True positive rate'
                    },
                    min: 0,
                    max: 1,
                    tickInterval: 0.1
                },
                legend: {
                    enabled: false
                },
                exporting: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                plotOptions: {
                    area: {
                        fillColor: {
                            linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                            stops: [
                                [0, '#59A595'],
                                [1, Highcharts.Color('#59A595').setOpacity(0).get('rgba')]]
                        },
                        marker: {
                            enabled: false
                        },
                        lineWidth: 1,
                        states: {
                            hover: {
                                lineWidth: 1
                            }
                        },
                        threshold: null
                    }
                },
                tooltip:{
                    formatter:function(){
                        console.log(this);
                        return '<b>FPR: </b>' + this.key + '<br><b>TPR: </b>' + this.y;
                    }
                },
                series: [{
                    type: 'area',
                    color: '#127e68',
                    data: [
                        {{ roc_points }}
                    ]
                }]
            });
        });

        $(function () {
            $('#pr_curve').highcharts({
                title: {
                    text: ''
                },
                xAxis: {
                    title: {
                        text: 'Recall'
                    },
                    min: 0,
                    max: 1,
                    tickInterval: 0.1
                },
                yAxis: {
                    title: {
                        text: 'Precision'
                    },
                    min: 0,
                    max: 1,
                    tickInterval: 0.1
                },
                legend: {
                    enabled: false
                },
                exporting: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                plotOptions: {
                    area: {
                        fillColor: {
                            linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                            stops: [
                                [0, '#f8ac59'],
                                [1, Highcharts.Color('#f8ac59').setOpacity(0).get('rgba')]
                            ]
                        },
                        marker: {
                            enabled: false
                        },
                        lineWidth: 1,
                        states: {
                            hover: {
                                lineWidth: 1
                            }
                        },
                        threshold: null
                    }
                },
                tooltip:{
                    formatter:function(){
                        console.log(this);
                        return '<b>Recall: </b>' + this.key + '<br><b>Precision: </b>' + this.y;
                    }
                },
                series: [{
                    type: 'area',
                    color: '#B68651',
                    data: [
                        {{ prc_points }}
                    ]
                }]
            });
        });

        $(document).ready(function() {
            $('#preditions-table').dataTable({
                responsive: true,
                "searching":false, // TODO: Maybe allow searching? I don't think it's that useful.
                "dom": 'T<"clear">lfrtip',
                "tableTools": {
                    "sSwfPath": "../assets/js/plugins/dataTables/swf/copy_csv_xls_pdf.swf"
                }
            });
            $("#q1").qtip({
                content: {
                    text: 'The results below illustrate the first 1,000 instances in the dataset.',
                    title:'<i>Note<\/i>'
                },
                style: { classes: 'qtip-rounded qtip-shadow qtip-cream' }
            });
        });
    </script>
{% endblock %}